body {
  clear: all;
  background-color: gray;
}
.image-display {
  float: left;
  margin-left: 25px;
}
ul li {
  list-style: none;
  display: inline-block;
  margin: 25px 25px 25px 0px;
  padding-left: 100px;
}
h1 {
  color: blue;
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
}
p {
  text-indent: 20px;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 150px;
}
img {
  height: 375px;
  width: 300px;
}
#vote-results li {
  margin-left: 20px;
}